Requirements
1. Your Moto
2. Idea in brief
3. Tree Tracking in brief

Answer to (Why choose OBOT?)
Three Reasons.

----------
Donors Review with photo.
--------
Form requirements
what should be the fields of the form.
---
Location of OBOT
--
Contact Information.
Mobile and Email.